@media only screen and (max-width: 600px) {
    .header-btn{
        display: block;
    }

    .header-item:nth-child(2){
        display: none;
    }
}

@media only screen and (max-width: 767px) {    
    .desktop{
        display: none;
    }

    .overlay{
        position: fixed;
        z-index: 1;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.6);
        display: none;
        animation: animate 0.3s ease;
    }

    @keyframes animate {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    .header-menu{
        position: fixed;
        width: 300px;
        top: 0;
        right: 0;
        height: 100%;
        background-color: white;
        padding: 20px;     
        transition: all 0.4s ease;
        z-index: 2;
        transform: translateX(300px);
    }

    .header-menu-item{
        padding-block: 14px;
        position: relative;
        transition: all 0.4s ease;
    }

    .h-170{
        --height: 170px;
    }

    .h-130{
        --height: 130px;
    }

    .header-menu-item.active .drop-menu{
        height: var(--height);
    }

    .drop-menu{
        margin-left: 20px;
        height: 0;
        overflow: hidden;
        transition: all 0.4s ease;
    }

    .drop-menu-item{
        padding-top: 24px;
        transition: all 0.4s ease;
    }

    .body-app{
        flex-direction: column-reverse;
    }

    .mobile{
        display: block;
        margin-top: 20px;
    }

    .body-left{
        margin: unset;
        text-align: center;
        padding: 64px 20px;
    }

    .body-left h1{
        font-size: 36px;
        margin-bottom: 40px;
    }

    .body-left p{
        margin-right: unset;
    }

    .connect{
        padding-inline: 6px;
    }

    .connect img{
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .mobile{
        display: none;
    }

    .header-item{
        width: unset;
    }

    .header-menu{
        display: flex;
    }

    .header-menu-close, .header-btn{
        display: none;
    }

    .header-item:nth-child(2){
        display: flex;
    }

    .header-menu-item{
        position: relative;
        padding-inline: 10px;
        transition: all 0.3s ease;
    }
    
    .header-menu-item:hover .drop-menu{
        display: block;
    }
        
    .drop-menu{
        min-width: 130px;
        position: absolute;
        top: 32px;
        display: none;
        padding: 14px 24px;
        transform-origin: top;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 3px 20px -10px var(--gray);
        animation: dropMenu 0.5s ease;
    }

    .drop-menu::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 20px;
        background-color: transparent;
        top: -16px;
        left: 0;
        cursor: pointer;
    }

    .drop-menu-item{
        padding-block: 10px;
    }

}

@media only screen and (min-width: 992px) {
    .header-menu-close{
        display: none;
    }

    .header-menu-item{
        padding-inline: 20px;
    }

    .header-action:nth-child(2){
        margin-left: 30px;
    }

    .header-logo {
        margin-right: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .body-app{
        padding-inline: 20px;
    }
}